In [1]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.axes_grid1 import make_axes_locatable, axes_size
from matplotlib.transforms import Bbox
import seaborn as sns
import scanpy as sc
import scipy
import sklearn

from importlib import reload

import plotting as plt2

In [2]:
fpath = "/scratch/indikar_root/indikar1/cstansbu/HSC/geneformer_adata/processed.anndata.lt.h5ad"

adata = sc.read_h5ad(fpath)
adata

AnnData object with n_obs × n_vars = 54347 × 19070
    obs: 'n_counts', 'cell_type', 'dataset', 'organ_tissue'
    var: 'gene_name', 'ensemble_id', 'n_counts'
    uns: 'go_annotations', 'log1p', 'panglaodb'
    layers: 'log_norm', 'raw_counts'

In [24]:
mask = (adata.obs['cell_type'] == 'HSC') & (adata.obs['dataset'] == 'young2_HSC')
weng_HSC = adata[mask, :]
print(weng_HSC)

# get raw counts
expression_df = weng_HSC.to_df(layer='raw_counts')
signature = expression_df.sum(axis=0)
signature = signature.reset_index()
signature.columns = ['gene_name', 'sum_count']

# mean log TPM
mean_log_tpm = weng_HSC.to_df().mean(axis=0)
signature['mean_log_TPM'] = mean_log_tpm.values

name2id = dict(zip(weng_HSC.var['gene_name'].values, weng_HSC.var['ensemble_id'].values))
signature['ensemble_id'] = signature['gene_name'].map(name2id)

outpath = "/home/cstansbu/temp/weeng_2024_HSC_raw_counts.csv"

signature.to_csv(outpath, index=False)

signature.head()

View of AnnData object with n_obs × n_vars = 3243 × 19070
    obs: 'n_counts', 'cell_type', 'dataset', 'organ_tissue'
    var: 'gene_name', 'ensemble_id', 'n_counts'
    uns: 'go_annotations', 'log1p', 'panglaodb'
    layers: 'log_norm', 'raw_counts'

  gene_name  sum_count  mean_log_TPM      ensemble_id
0      A1BG      194.0      0.030028  ENSG00000121410
1      A1CF        1.0      0.000736  ENSG00000148584
2       A2M      131.0      0.162159  ENSG00000175899
3     A2ML1        4.0      0.053027  ENSG00000166535
4   A3GALT2        4.0      0.011742  ENSG00000184389

In [ ]:
break

In [19]:
dict(zip(weng_HSC.var['gene_name'].values, weng_HSC.var['ensemble_id'].values))

          gene_name      ensemble_id  n_counts
gene_name
A1BG           A1BG  ENSG00000121410    1653.0
A1CF           A1CF  ENSG00000148584      53.0
A2M             A2M  ENSG00000175899  471452.0
A2ML1         A2ML1  ENSG00000166535    6200.0
A3GALT2     A3GALT2  ENSG00000184389    1324.0

In [13]:
signature = weng_HSC.to_df(layer='raw_counts').sum(axis=0)

In [5]:
adata.obs['cell_type'].value_counts()

cell_type
FB                        26586
iHSC                       8574
LinNegCD34PosCD164Pos      6343
HSC                        5798
LinNegCD34lowCD164high     4265
MPP                        1795
MKP                         863
MLP                         123
Name: count, dtype: int64

In [3]:
break

SyntaxError: 'break' outside loop (668683560.py, line 1)

In [6]:
adata.obs['dataset'].value_counts()

dataset
tabula_sapiens    26586
pellin            12228
iHSC               8574
young2_HSC         3703
old2_BMMC_HSPC     2365
old1_BMMC_HSPC      891
Name: count, dtype: int64

In [4]:
adata.obs['cell_type'].value_counts()

cell_type
FB                        26586
iHSC                       8574
LinNegCD34PosCD164Pos      6343
HSC                        5798
LinNegCD34lowCD164high     4265
MPP                        1795
MKP                         863
MLP                         123
Name: count, dtype: int64

In [ ]:
# break