In [1]:
import pandas as pd
import os
import sys
import numpy as np

In [2]:
fpath = "/nfs/turbo/umms-indikar/shared/projects/HSC/data/10xBarcoded_SingleCell/demulti/3M-february-2018.txt.gz"
outpath = "/nfs/turbo/umms-indikar/shared/projects/HSC/data/10xBarcoded_SingleCell/demulti/barcodes.csv"

df = pd.read_csv(fpath, header=None)
print(f"{df.shape=}")

df.columns = ['barcode']

df = df.reset_index()
df = df.rename(columns={"index":"cell_id"})
df['cell_id'] = df['cell_id'] + 1
df['cell_id'] = "cell_" + df['cell_id'].astype(str) 

# write the barcodes as csv
df.to_csv(outpath, index=False)

df.head()

df.shape=(6794880, 1)

  cell_id           barcode
0  cell_1  AAACCCAAGAAACACT
1  cell_2  AAACCCAAGAAACCAT
2  cell_3  AAACCCAAGAAACCCA
3  cell_4  AAACCCAAGAAACCCG
4  cell_5  AAACCCAAGAAACCTG

In [3]:
fasta_path = "/nfs/turbo/umms-indikar/shared/projects/HSC/data/10xBarcoded_SingleCell/demulti/barcodes.fa"

# write barcodes as fasta
try:
    os.remove(fasta_path)
except OSError:
    pass

myfile = open(fasta_path, 'w')
    
for idx, row in df.iterrows():
    if idx % 250000 == 0:
        print(f"{idx}...")
    header = f">{row['cell_id']}\n"
    footer = f"{row['barcode']}\n"

    myfile.write(header)
    myfile.write(footer)
    
myfile.close()
print('done')

0...
250000...
500000...
750000...
1000000...
1250000...
1500000...
1750000...
2000000...
2250000...
2500000...
2750000...
3000000...
3250000...
3500000...
3750000...
4000000...
4250000...
4500000...
4750000...
5000000...
5250000...
5500000...
5750000...
6000000...
6250000...
6500000...
6750000...
done